<div class="container d-flex justify-content-center text-center"
  style=" align-items: flex-start; padding-top: 20px;">
  <div>
    <h1>Welcome to Bounty Board</h1>
    <p>The best place to get all of the tasks you don't want to do done for you!</p>
  </div>
</div>
<div class="container mt-5">
  <h1 class="text-center mb-4">Bounty Dashboard</h1>

  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">Job Title</th>
          <th scope="col">Job Description</th>
          <th scope="col">Job Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each Bounty}}
        <tr>
          <td>{{title}}</td>
          <td>{{job_description}}</td>
          <td>{{price}}</td>
          <td>{{poster}}</td>
          <td>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  {{#if Bounty.length}}
  <p class="text-muted text-end mt-3">Total reviews: {{Bounty.length}}</p>
  {{else}}
  <p class="text-center text-muted mt-4">No reviews found. Start reviewing now!</p>
  {{/if}}
</div>